body {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110vh;
  margin: 0;
}
.register-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 10px;
  width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #ccc; /* Added border */
}
.register-container h2 {
  text-align: center;
  margin-bottom: 30px;
}
.phone-numbers {
  display: flex;
  gap: 10px;
}

.login-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #ccc;
}
.login-container h2 {
  text-align: center;
  margin-bottom: 30px;
}
.login-links {
  text-align: center;
  margin-top: 30px;
}
.login-links a {
  color: #007bff; /* Primary color */
  font-weight: 500;
  text-decoration: none;
  transition: text-decoration 0.3s ease;
}
.login-links a:hover {
  text-decoration: underline;
}
.login-links span {
  margin: 0 10px;
  color: #ccc; /* Separator color */
}
